.products {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .product-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .product-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .product-list li img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 10px 10px 0;
    padding: 10px 20px;
    border: none;
    background-color: #fff;
    color: #333;
    cursor: pointer;
  }